/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

/* Variables */
:root{
    /* colors */
    --avocado: #8EC03F;
    --cobalt: #213D8F;
    --greyish-brown: #4A4A4A;
    --light-gray-blue: #909EC7;
    --pale-gray: #F6F7FB;
    --pale-gray-two: #E8EBF3;
    --topaz: #1DB9DE;
    --white: #ffffff;
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.opened {
    max-height: 40px;
    border: 1px solid rgba(74, 74, 74, 0.295) !important;
    box-shadow: none !important;
}

/* container */

.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--greyish-brown);
    background: var(--pale-gray-two);
}

/* Search-nav */

.search-nav {
    position: relative;
    width: 80%;
    height: 10%;
    padding: 15px 0;
}

.search-nav div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-nav div .select {
    text-align: left;
    width: 150px;
    height: auto;
    max-height: auto;
    overflow: hidden;
    color: var(--cobalt);
    font-weight: bold;
    background-color: var(--white);
    cursor: pointer;
    margin-right: 20px;
    border: 1px solid rgba(29, 184, 222, 0.616);
    border-radius: 3px;
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 3px rgba(74, 74, 74, 0.199) , -2px -2px 3px rgba(74, 74, 74, 0.164) ;
    transition: border .2s ease-in;
}

.search-nav div .select span {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid var(--pale-gray-two);
}

.search-nav div:nth-child(2){
    width: 90px;
}

.search-nav div .select li {
    width: 100%;
    list-style: none;
    font-size: 14px;
    padding: 10px 10px;
    font-weight: bold;
    color: rgba(33, 61, 143, 0.795);
}

.search-nav div .select li:hover {
    background-color: rgba(144, 158, 199, 0.411);
    color: var(--cobalt);
}

.search-nav div button.btn {
    border: none;
    background: var(--avocado);
    color: var(--white);
    font-size: 14px;
    width: 80px;
    height: 40px;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

/* App */

.container > div.app {
    width: 80%;
    margin: 0 auto;
    background: var(--white);
    border-radius: 3px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: var(--cobalt);
    line-height: 25px;
    border: none !important;
    cursor: unset !important;
}

.container div.app .items div.item {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 1.1rem;
    border-top: 1px solid var(--pale-gray-two);
    cursor: pointer;
}

div.item div {
    width: 100%;
    justify-content: space-between; 
}

/* Hidden Card */

.container div.app .items .card {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: rgba(144, 158, 199, 0.137);
    font-size: 16px;
    padding: 0 40px;
}

div.card .left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none !important;
}

div.card .right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none !important;
}

div.card .left p,
div.card .right p{
    display: inline-block;
    margin: 10px 0;
}

div.card .left p span,
div.card .right p span {
    color: var(--cobalt);
    display: inline-block;
    width: 100px;
}

.item span, 
div.item div span {
    display: inline-block;
    text-align: left;
    width: calc(100%/6);
}

.item :nth-child(5){
    text-align: right;
}

.item :nth-child(6){
    margin-left: 10px; 
    max-width: 90px;
}
